<?xml version="1.0"?>
<!--
/**
 * Copyright 2025 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <comopt>
            <settings>
                <aco>
                    <connection>
                        <base_uri/>
                        <ac_channel_id/>
                        <ac_environment_id/>
                        <ac_price_book_id/>
                        <ac_scope_locale/>
                    </connection>
                </aco>
            </settings>
        </comopt>
    </default>
</config>

