<?xml version="1.0"?>
<!--
/**
 * Copyright 2025 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\QuoteGraphQl\Model\Resolver\CartItemTypeResolver" type="CommerceOptimizer\Checkout\Plugin\QuoteGraphQl\Model\Resolver\CartItemTypeResolver" />
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddProductsToCart">
        <plugin name="pre-load-products" type="CommerceOptimizer\Checkout\Plugin\QuoteGraphQl\Model\Resolver\AddProductsToCart"/>
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <plugin name="skip-saleable-check" type="CommerceOptimizer\Checkout\Plugin\Catalog\Model\Helper"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="save-product-view" type="CommerceOptimizer\Checkout\Plugin\Quote\Model\Quote\Item"/>
    </type>
    <type name="Magento\Quote\Model\Cart\AddProductsToCart">
        <arguments>
            <argument name="productReader" xsi:type="object">CommerceOptimizer\Checkout\Plugin\Quote\Model\Cart\ProductReader</argument>
        </arguments>
    </type>
    <preference for="Magento\Quote\Model\ResourceModel\Quote\Item\Collection" type="CommerceOptimizer\Checkout\Plugin\Quote\Model\ResourceModel\Quote\Item\Collection" />
    <type name="Magento\Catalog\Model\Product">
<!-- Prevents product from reloading during shopping cart rule processing -->
        <plugin name="avoid-load" type="CommerceOptimizer\Checkout\Plugin\Catalog\Model\Product"/>
    </type>
<!--    \Magento\InventorySales\Plugin\Sales\OrderManagement\AppendReservationsAfterOrderPlacementPlugin-->
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="inventory_reservations_placement" disabled="true"/>
    </type>
    <type name="Magento\InventorySalesApi\Api\GetStockBySalesChannelInterface">
        <plugin name="adapt_stock_resolver_to_admin_website" disabled="true"/>
    </type>
</config>
